---
import SectionHeader from './SectionHeader.astro'

interface Props {
  id?: string
  title: string
  intro?: string
  actionLabel?: string
  actionHref?: string
  sectionClass?: string
}
const { id, title, intro, actionLabel, actionHref, sectionClass } = Astro.props
---

<section
  class:list={['section', sectionClass]}
  id={id}
>
  <SectionHeader
    title={title}
    intro={intro}
    actionLabel={actionLabel}
    actionHref={actionHref}
  />

  <div class='section__content'>
    <slot />
  </div>
</section>
